@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 25%; opacity: 1}
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 25%; opacity: 1}
}
.admin-page {
    background-color: white;
}
.admin-panel {
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    width: 768px;
}
.admin-panel .back-to-poll {
    color: #bfab70;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
}
.admin-panel h2 {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 2em;
}
.admin-panel h3 {
    text-decoration: underline;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.admin-panel .option-label {
    margin-bottom: 5px;
    text-transform: uppercase;
}
.admin-panel .question {
    border: 2px solid #bfab70;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px 20px 20px;
    margin-bottom: 20px;
}
.admin-panel .reset-ballot {
    color: #bfab70;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}
.admin-panel .vote-info {
    margin-top: 5px;
}
.alert {
    display: none;
}
body {
    margin:auto;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #3a3a3a;
    font-size: 62.5%;
}
body.review-page {
    background-color: white;
}
#click-msg {
    text-transform: none;
    font-style: italic;
    color: black;
    font-weight: 400;
    letter-spacing: normal;
    font-size:.3em;
}
.close {
    color: #bfab70;
    float:right;
    font-size: 1.7em;
    font-weight: 700;
    margin-top: -10px;
    padding: 0px 0px 0px 20px;
    transition: .2s ease;
    position: relative;
    cursor: pointer;
}
.close:hover {
    color: black;
    transition: .2s ease;
}
.control-group {
}
.description {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: normal;
    text-transform:none;
    margin: 15px 20px;
    padding-bottom: 20px;
}
.dropdown-arrow {
    display:none;
}
footer #vote-nav {
    background-color: #bfab70;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    clear: both;
    position: fixed;
    list-style: none;
    margin: auto;
    padding: 0px;
}
footer #vote-nav li {
    float:left;
    padding:20px;
    text-align: center;
    box-sizing: border-box;
    width: 15%;
    box-sizing: border-box;
    text-align: center;
}
footer #vote-nav li:first-child {
    width: 20%;
    box-sizing: border-box;
}
footer #vote-nav li:last-child {
    width: 20%;
    box-sizing: border-box;
}
footer a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
h1 {
    margin: 0px;
    padding: 0px;
}
.link-admin {
    position: absolute;
    top: 0px;
    left: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
.login-form {
    width: 300px;
    margin: auto;
    font-size: 1.4em;
    line-height: 1.6em;
}
.login-form .button {
    background-color: #bfab70;
    color: white;
    border: none;
    border-radius: 0px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 10px;
    width:120px;
    transition: all .2s ease;
}
.login-form .button:hover {
    transition: all .2s ease;
    letter-spacing: .2em;
}
.login-form .control-group {
    padding-bottom: 20px;
}
.login-form .control-group:first-child {
    margin-top: 50px;
}
.login-form .control-label {
    display: block;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
}
.login-form .controls input {
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    color: white;
    display: block;
    width: 100%;
    font-size: 1em;
    border-bottom: 1px solid white;
    outline: none;
    transition: all .1s ease;
}
.login-form .controls input:focus {
    border-bottom: 3px solid white;
    transition: all .1s ease;
}
.login-page {
    color: white;
}
#logo {
    margin-top:20px;
    margin-left: 50%;
    background: url(images/elliv-h-logo.png) center;
    width: 300px;
    background-size:300px ;
    position: relative;
    left:-150px;
    height: 60px;
}
.modal-content {
    background-color: #fefefe;
    box-sizing: border-box;
    padding: 20px 15px 20px 20px;
    border: 1px solid #888;
    width: 600px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left:-300px;
    z-index: 4;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.44);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-content img {
    width: 200px;
    margin-right:20px;
    float: left;
}
.modal-content h2 {
    color: #bfab70;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: .1em;
    padding: 0px;
    margin: 0px 0px 15px 0px;
}
.modal-content p {
    font-size: 1.4em;
    line-height: 1.6em;
}
.nav-btn {
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: .2em;
    transition: .2s ease;
    position: relative;
}
.nav-btn:hover {
    letter-spacing: .3em;
    transition: .2s ease;
}
.nav-btn .nominee-page {
    position: absolute;
    left:50%;
    margin-left: -8px;
}
.nominee-page {
    float: left;
    margin: 0px 15px 0px 5px;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background: white;
    border: 3px solid white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    transition: .3s ease;
}
.on-page {
    float: left;
    margin: 0px 15px 0px 5px;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background: black;
    border: 3px solid white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.nominee {
    background-color: #d6d6d6;
    box-sizing: border-box;
    padding:20px 10px;
    transition: .3s ease;
    width: 800px;
    margin: 10px auto;
}
.nominee:after {
    clear: both;
    content: '';
    float: none;
}
.nominee-description {
    display: none;
}
.nominee-header {
    text-align:center;
    font-size: 1.4em;
}
.nominee-header:hover .nominee-title {
    letter-spacing: .2em;
    transition: .2s ease;
}
#nominee-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#nominee-list:after {
    content:'';
    display: table;
    float: none;
    clear: both;
}
.nominee-title {
    color:white;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s ease;
    margin-left:-30px;
}
.nominee-vote {
    float:left;
    margin:0px 15px 0px 5px;
    text-indent:-9999px;
	width: 14px;
	height: 14px;
	background: white;
    border: 3px solid white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    transition: .3s ease;
}
.nominee-vote:hover {
    float:left;
    margin:0px 15px 0px 5px;
    text-indent:-9999px;
	width: 14px;
	height: 14px;
	background: black;
    border: 3px solid white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    transition: .3s ease;
}
.options {
    width: 1200px;
    margin: auto;
}
.options li {
    font-size: 1.4em;
    margin-bottom: 20px;
    text-align: center;
    width: 590px;
    margin-right: 20px;
    float: left;
}
.options li:nth-child(2) {
    margin-right: 0px;
}
.options li:last-child {
    margin-right: 0px;
}
.options ul {
    list-style: none;
    padding: 0px;
}
.options ul:after {
    display: table;
    content: '';
    clear: both;
}
.options .award a {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    display: block;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 20px 0px;
    width: 100%;
    background-color: #bfab70; 
    transition: all .2s ease;
}
.options .award a:hover {
    letter-spacing: .2em;
    transition: all .2s ease;
}
.options .btn-submit {
    background-color: black;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 20px;
    width: 250px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all .2s ease;
}
.options .btn-submit:hover {
    letter-spacing: .2em;
    transition: all .2s ease;
}
.question {
    width: 1200px;
    margin: auto;
}
.question h2 {
    color: black;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.poll-welcome .intro {
    color: white;
    font-size: 1.4em;
    width: 600px;
    line-height: 1.6em;
    margin: 60px auto 30px auto;
}
.poll-welcome .vote-btn {
    background-color: #bfab70;
    box-sizing: border-box;
    display: block;
    width: 260px;
    text-align: center;
    padding: 30px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8em;
    transition: all .2s ease;
    letter-spacing: .1em;
    position: relative;
    left: 50%;
    margin-left:-130px;
}
.poll-welcome .vote-btn:hover {
    letter-spacing: .2em;
    transition: all .2s ease;
}
.question p {
    font-size: 1.4em;
}
.questions-page {
    background-color: white;
}
.select-circle {
    float:left;
    margin:0px 15px 0px 5px;
    text-indent:-9999px;
	width: 14px;
	height: 14px;
	background: black;
    border: 3px solid white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    transition: .3s ease;
}
.select-nominee {
    background-color: #bfab70;
    transition: .3s ease;
}
.selections {
    color: white;
}
.selections p {
    border-bottom: 1px solid #bfab70;
    width: 500px;
    font-size: 1.6em;
    padding-bottom: 5px;
    margin: 30px auto 40px auto;
}
.selections .options {
    width: 500px;
    margin-bottom: 30px;
}
.selections .options li {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    display: block;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 0px;
    text-align: left;
}
.shade {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: .4s ease;
}
.show {
    display: block;
}
.site-btn {
    background-color: #bfab70;
    color: white;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: .1em;
    display: block;
    text-align: center;
    padding: 20px;
    width: 150px;
    position: relative;
    box-sizing: border-box;
    left: 50%;
    margin-left: -75px;
    transition: all .1s ease;
    text-decoration: none;
}
.site-btn:hover {
    transition: all .1s ease;
    letter-spacing: .2em;
}
.rotated {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
ul {
    list-style: none;
    padding: 0px;
}
.vote-bar {
    height:30px;
    background-color: #3b3b3b;
}
#vote-header {
    background-color: white;
    background: inherit;
    position: inherit;
    color: #bfab70;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size:1.3em;
    font-weight: 600;
    letter-spacing: .3em;
    margin-bottom: 20px;
}
#vote-header #logo {
    margin-top:20px;
    margin-left: 0px;
    background: inherit;
    height: inherit;
    width: inherit;
    position: inherit;
    left:0px;
}
#vote-header #logo img {
    width: 10%;
}
#vote-header h2 {
    margin-bottom: 0px;
    font-size: 1.4em;
    font-weight: 600;
}
#vote-link {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(images/elliv-9.jpg);
     background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}
#vote-link a {
    border: 5px solid #bfab70;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3em;
    position: relative;
    padding: 40px;
    width:700px;
    top:40%;
    left:50%;
    margin-left:-350px;
    color: #bfab70;
    display: block;
    font-size: 5em;
    transition: all .2s ease;
}
#vote-link a:hover {
    border-color: white;
    color: white;
    transition: all .2s ease;
}
#vote-link p {
    color: white;
    font-size: 2em;
    width: 400px;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -200px;
}
#vote-main {
    box-sizing: border-box;
    margin:auto;
    width: 100%;
    padding: 0px 20px 90px 20px;
}
#vote-main:after {
    content: '';
    clear: both;
    float: none;
}
@media only screen and (max-width: 1199px) {
    .admin-panel {
        width: 100%;
    }
    .nominee {
        width: 768px;
    }    
    .options {
        width: 768px;
        margin: auto;
    }
    .options li {
        font-size: 1.4em;
        text-align: center;
        width: 100%;
        margin-right: 0px;
        float: none;
    }
    .question {
        width: 768px;
        margin: auto;
    }
    
    .selections {
        box-sizing: border-box;
        width: 100%;
        margin: auto;
        padding: 20px;
    }
    .selections .options li {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    #click-msg {
        display:none;
    }
    .dropdown-arrow {
        display: block;
        float: right;
        width:20px;
        margin: 5px;
      -moz-transition: transform .5s;
      -webkit-transition: transform .5s;
      transition: transform .5s;
    }
    .modal-content {
        background-color: inherit;
        margin: 0px;
        padding: 0px;
        border: inherit;
        width: inherit;
        position:inherit;
        -webkit-box-shadow: inherit;
        -moz-box-shadow: inherit;
        box-shadow: inherit;
        z-index: 4;
    }
    .modal-content h2 {
        display: none;
    }
    .modal-content img {
        width: inherit;
        margin-right:inherit;
        float: none;
    }
    .modal-header {
        display: none;
    }
    .nominee {
        margin-bottom: 10px;
        margin-left:0px;
        width: 100%;
        float: none;
        position: inherit;
        left: 0px;
    }
    .nav-btn {
        letter-spacing: inherit;
        font-size: 1em;
    }
    .nav-btn:hover {
        letter-spacing: inherit;
    }
    .nominee-description {
        padding:15px;
    }
    .nominee-description img {
        width: 100%;
    }
    #nominee-list {
        margin: 0px 10px 0px 10px;
    }
    .nominee-page {
        margin: 0px 0px 0px 0px;
    }
    .options {
        width: 478px;
        margin: auto;
    }
    .options li {
        font-size: 1.4em;
        text-align: center;
        width: 100%;
        margin-right: 0px;
        float: none;
    }
    .poll-welcome .intro {
        width: 100%;
    }
    .selections {
        box-sizing: border-box;
        width: 100%;
        margin: auto;
        padding: 20px;
    }
    .selections p {
        width: 100%;
    }
    .selections .options {
        width: 100%;
    }
    .selections .options li {
        width: 100%;
    }
    .question {
        width: 478px;
        margin: auto;
    }
    #vote-header #logo img {
        width:30%;
    }
    #vote-link a {
        font-size: 2.5em;
        width: 320px;
        margin-left: -160px;
    }
}
@media only screen and (max-width: 479px) {
    body {
        width:100%;
    }
    #click-msg {
        display:none;
    }
    .dropdown-arrow {
        display: block;
        float: right;
        width:20px;
        margin: 5px;
      -moz-transition: transform .5s;
      -webkit-transition: transform .5s;
      transition: transform .5s;
    }
    .modal-content {
        background-color: inherit;
        margin: 0px;
        padding: 0px;
        border: inherit;
        width: inherit;
        position:inherit;
        -webkit-box-shadow: inherit;
        -moz-box-shadow: inherit;
        box-shadow: inherit;
    }
    .modal-content h2 {
        display: none;
    }
    .modal-content img {
        width: inherit;
        margin-right:inherit;
        float: none;
    }
    .modal-header {
        display: none;
    }
    .nominee {
        margin-bottom: 10px;
        width: 100%;
        float: none;
    }
    .nominee-description {
        padding:15px;
    }
    .nominee-description img {
        width: 100%;
    }
    #nominee-list {
        margin: 0px 10px 0px 10px;
    }
    .nominee-page {
        margin: 0px 0px 0px 0px;
        width: 7px;
        height: 7px;
        border: 2px solid white;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        transition: none;
    }
    .nominee-title {
        box-sizing: border-box;
        padding: 20px;
    }
    
    .options {
        width: 100%;
        margin: auto;
    }
    .options li {
        width: 100%;
        margin-right: 0px;
    }
    .question {
        width: 100%;
        margin: auto;
    }
    .selections .options li {
        width: 100%;
    }
    .on-page {
        margin: 0px 0px 0px 0px;
        width: 7px;
        height: 7px;
        background: black;
        border: 2px solid white;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        transition: none;
    }
    #vote-header #logo img {
        width:30%;
    }
    #vote-link {
        width: 100%:
    }
}